
*{
  margin:0;
  padding:0;
  font-family: 'Lato', Helvetica, sans-serif;
}
h2{
  font-size: 16px;
  padding-left: 1%;
  color: #54595F;
}
h4{
  font-size: 12px;
  padding-left: 1%;
  color: #54595F;
}
.map{
  width:100vw;
  height:100vh;
  z-index:0;
}
.dataContainer{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  border-left: 3px solid #003056;
  padding-left: 2%;
}
.stdBtn{
  padding:2%;
  margin:2%;
  border:none;
  width: 45%;
  color:#ffffff;
  border-radius:12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: background-color 0.2s;
}
.btnConfirmar{
  background-color: #04A30B;
  border: 2px solid #04A30B;
  padding:1.5%;
  width: 15%;
  transition: background border 0.5s;
}
.btnConfirmar:hover{
  background-color: #03960a;
  border: 2px solid #03960a;
  padding:1.5%;
  width: 15%;
}
.btnConfirmar:active{
  background-color: #036908;
  border: 2px solid #036908;
  padding:1.5%;
  width: 15%;
}
.btnCancelar{
  padding:1.5%;
  background-color: transparent;
  color:#04A30B;
  border: 2px solid #04A30B;
  width: 15%;
  transition: color border 0.5s;
}
.btnCancelar:hover{
  color:#03960a;
  border: 2px solid #03960a;
}
.btnCancelar:active{
  color:#036908;
  border: 2px solid #036908;
}
.containerBtns{
  
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.editButton{
  background-color:#f98a29;
}
.editButton:hover{
  background-color:#fc7600;
}
.editButton:active{
  background-color:#894e1a;
}
.removeButton{
  background-color:#e74c3c;
}
.removeButton:hover{
  background-color:#f33722;
}
.removeButton:active{
  background-color:#692820;
}

.btnAdd{
  position:fixed;
  background-color: #2ecc71;
  top:85vh;
  left:95vw;
  width: 10vh;
  height: 10vh;
  font-weight: bolder;
  font-size: 20pt;
  border:none;
  color:#ffffff;
  border-radius: 50%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:background 0.5s;
}
.btnAdd:hover{
  background-color: #26b260;
}
.btnAdd:active{
  background-color: #1a7a42;
}

.showModal{
  display: flex;
}
.hiddenModal{
  display: none;
}
.modalCadastroAndEdit{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.2);
  position: fixed;
  z-index: 3;
  align-items: center;
  justify-content: center;
}
.modalContainer{
  background-color: #F5F5F5;
  padding:2%;
  position: fixed;
  width: 50vw;
  height: 60vh;
  margin-left:25vw;
  margin-top:10vh;
  z-index: 4;
  border-radius: 12px;
  flex-direction: column;
  justify-content: space-around;
}
.titleModal{
  margin-bottom: 1%;
  color:#2C7E4D;
  font-size: 20pt;
  display: flex;
  align-items: center;
  justify-content: start;
}
.titleModal svg{
  margin-right: 2%;
}
.subTitleModal{
  font-size: 16pt;
}
.stdInput{
  border:none;
  border-radius: 8px;
  width: 23%;
  padding: 1%;
  margin: 1%;
}
.inputsContainer{
  width: 100%;
  margin: 1%;
}
.btnsModal{
  margin-top:1%;
  display: flex;
  align-items: end;
  justify-content: end;
}
.inputError{
  border: 1px solid #e74c3c;
  color:#e74c3c;
}

@media screen and (max-width: 480px) {
  .btnAdd {
    left: 70vw;
  }
  .stdInput{
    width: 90%;
    padding: 3%;
  }
  .btnCancelar{
    width: 45%;
  }
  .btnConfirmar{
    width: 45%;
  }
  .modalContainer{
    margin-left:3vw;
    margin-top:3vh;
    width: 90vw;
    height: 90vh;
  }
  .titleModal{
    font-size: 14pt;
  }
}
@media screen and (min-width: 481px) {
  .btnAdd {
    left: 80vw;
  }
  .stdInput{
    width: 40%;
    padding: 3%;
  }
  .btnCancelar{
    width: 45%;
  }
  .btnConfirmar{
    width: 45%;
  }
  .modalContainer{
    margin-left:3vw;
    margin-top:3vh;
    width: 90vw;
    height: 90vh;
  }
  .titleModal{
    font-size: 18pt;
  }
}
@media screen and (min-width: 769px) {
  .btnAdd {
    left: 85vw;
  }
  .stdInput{
    width: 25%;
    padding: 2%;
  }
  .btnCancelar{
    width: 45%;
  }
  .btnConfirmar{
    width: 45%;
  }
  .modalContainer{
    margin-left:3vw;
    margin-top:3vh;
    width: 90vw;
    height: 90vh;
  }
  .titleModal{
    font-size: 22pt;
  }
}
@media screen and (min-width: 1025px) {
  .btnAdd {
    left: 90vw;
  }
  .stdInput{
    width: 25%;
    padding: 2%;
  }
  .btnCancelar{
    width: 15%;
  }
  .btnConfirmar{
    width: 15%;
  }
  .modalContainer{
    margin-left:3vw;
    margin-top:3vh;
    width: 90vw;
    height: 90vh;
  }
  .titleModal{
    font-size: 24pt;
  }
}
@media screen and (min-width: 1200px) {
  .btnAdd {
    left: 92vw;
  }
  .stdInput{
    width: 25%;
    padding: 1.5%;
  }
  .btnCancelar{
    width: 15%;
  }
  .btnConfirmar{
    width: 15%;
  }
  .modalContainer{
    margin-left:13vw;
    margin-top:6vh;
    width: 70vw;
    height: 80vh;
  }
  .titleModal{
    font-size: 24pt;
  }
}
